@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@font-face {
  font-family: "Rubik";
  src:
    url("/fonts/Inter_24pt-Regular.woff2") format("woff2"),
    url("/fonts/Inter_24pt--Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-*: initial;
  --font-sans: Rubik, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --color-highlight: #349c2a;
}
